<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RACFrame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RACFrameTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RACFrameTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CA5CDA31E2722AA002C14C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA5CDB61E272436002C14C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFD0DF51E273DAE0005259B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFD0E0F1E274D510005259B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
